@model HomeVM

<form method="get" asp-controller="Home" asp-action="Index" id="filter-form">
    <div class="h-100 w-100">

        <div class="row">

            <div class="col p-0 mb-5">

                <div class="row m-0">
                    @* Filter *@
                    <div class="col d-flex justify-content-center flex-fill filter">
                        <div class="row">
                            <div class="col">
                                <div class="mb-1">
                                    <span class="filter-text">Type</span>
                                </div>
                                <div class="mb-1 filter-select">
                                    <select id="filter-type" class="form-select" asp-items="@Model.ContentTypes" name="type" aria-label="Default select example">
                                        <option selected value="">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-1">
                                    <span class="filter-text">Sorted by</span>
                                </div>
                                <div class="mb-1 filter-select">
                                    <select id="filter-sorted-by" class="form-select" name="sortedBy" aria-label="Default select example">
                                        <option selected value="">All</option>
                                        <option value="1">Newest first</option>
                                        <option value="2">Oldest first</option>
                                        <option value="3">Highest Rated</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-1">
                                    <span class="filter-text">Category</span>
                                </div>
                                <div class="mb-1 filter-select">
                                    <select id="filter-category" class="form-select" asp-items="@Model.Categories" name="category" aria-label="Default select example">
                                        <option selected value="">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-1">
                                    <span class="filter-text">Language</span>
                                </div>
                                <div class="mb-1 filter-select">
                                    <select id="filter-language" class="form-select" asp-items="@Model.Languages" name="language" aria-label="Default select example">
                                        <option selected value="">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  Top rated pasts *@
                    <div class="col d-none d-lg-block d-lg-flex justify-content-center flex-fill mt-4">
                        @if (Model.TopRatedPasteVMs.Any())
                        {
                            <div>

                                <span class="top-rated-pasts__title">Top Rated Pasts</span>

                                <div class="row m-0 d-flex justify-content-center pt-3 top-rated-pasts__block">


                                    @foreach (var item in Model.TopRatedPasteVMs)
                                    {
                                        <a asp-controller="Paste" asp-action="Details" asp-route-id="@item.Id" class="btn p-0 past-item past-item_size_small">

                                            <div class="row past-item__content mt-3">

                                                <div class="col-6 d-flex justify-content-start p-0">
                                                    <span class="past-item__content__title">@item.Title</span>
                                                </div>

                                                <div class="col p-0">
                                                    <span class="pe-2 past-item__content__type-rate">@item.ContentType.TypeName</span>
                                                </div>

                                                <div class="col p-0">
                                                    <span class="pe-3 past-item__content__type-rate">@item.Likes<i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    }


                                </div>

                            </div>
                        }

                    </div>
                </div>

            </div>

            @* Public pasts *@
            <div class="col-5 p-0 mx-auto public-pasts">

                @* Title *@
                <div class="row m-0">
                    <div class="col-6 p-0 public-pasts__title-item">
                        <span class="title-item__text title-item__text_margin">Title</span>
                    </div>

                    <div class="col p-0 text-center public-pasts__title-item  title-item_margin-l">
                        <span class="title-item__text">Posted</span>
                    </div>

                    <div class="col p-0 text-center public-pasts__title-item title-item_border">
                        <span class="title-item__text">Type</span>
                    </div>

                    <div class="col p-0 text-center public-pasts__title-item title-item_margin-r">
                        <span class="title-item__text">Rate</span>
                    </div>
                </div>

                @*Body*@
                <div class="d-flex align-items-end">

                    <div class="row m-0 d-flex justify-content-center pt-2 w-100 body-block">

                        @if (Model.PasteVMs.Any(u => u.IsPublic == true))
                        {
                            foreach (var item in Model.PasteVMs)
                            {
                                if (item.IsPublic)
                                {
                                    <a asp-controller="Paste" asp-action="Details" asp-route-id="@item.Id" class="btn p-0 past-item past-item_size_big">

                                        <div class="row past-item__content mt-3">

                                            <div class="col-6 d-flex justify-content-start p-0">
                                                <span class="past-item__content__title">@item.Title</span>
                                            </div>

                                            <div class="col p-0">
                                                @if (item.Time.Days != 0)
                                                {
                                                    <span class="past-item__content__type-rate">@item.Time.Days d. ago</span>
                                                }
                                                else if (item.Time.Hours != 0)
                                                {
                                                    <span class="past-item__content__type-rate">@item.Time.Hours h. ago</span>
                                                }
                                                else if (item.Time.Minutes != 0)
                                                {
                                                    <span class="past-item__content__type-rate">@item.Time.Minutes m. ago</span>
                                                }
                                                else if (item.Time.Seconds != 0)
                                                {
                                                    <span class="past-item__content__type-rate">@item.Time.Seconds s. ago</span>
                                                }
                                            </div>

                                            <div class="col p-0">
                                                <span class="pe-2 past-item__content__type-rate">@(item.ContentType?.TypeName ?? "Error")</span>
                                            </div>

                                            <div class="col p-0">
                                                <span class="pe-3 past-item__content__type-rate">@item.Likes <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                            </div>

                                        </div>
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            <div class="p-0 past-item past-item_size_big">
                                <div class="past-item__content">

                                    <div class="d-flex justify-content-center">
                                        <span class="past-item__list__empty">The Paste list is empty. <a asp-controller="Paste" asp-action="Create" class="text-decoration-none"> Be first!</a></span>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>

                </div>

                <div class="d-flex justify-content-center mt-2">
                    <div>
                        @if (Model.IsActiveLeftArrow)
                        {
                            <button class="fa-solid fa-arrow-left btn" type="submit" name="pageNumber" value="@(Model.PageNumber - 1)"></button>
                        }
                        else
                        {
                            <button class="fa-solid fa-arrow-left btn" type="submit" name="pageNumber" value="@(Model.PageNumber - 1)" disabled></button>
                        }
                        <span>@Model.PageNumber</span>
                        @if (Model.IsActiveRightArrow)
                        {
                            <button class="fa-solid fa-arrow-right btn" type="submit" name="pageNumber" value="@(Model.PageNumber + 1)"></button>
                        }
                        else
                        {
                            <button class="fa-solid fa-arrow-right btn" type="submit" name="pageNumber" value="@(Model.PageNumber + 1)" disabled></button>
                        }
                    </div>
                </div>
            </div>

            @* My pasts *@
            <div class="col">
                <div class="d-flex justify-content-center">

                    <div class="my-pasts">

                        <div class="row m-0 mb-2">
                            <div class="col-auto col-xs-3 p-0 pt-2 my-pasts__title me-5">
                                <span class="my-pasts__title__text">My Pasts</span>
                            </div>

                            <div class="col-3 p-0 text-center my-pasts__title">
                                <a asp-controller="Paste" asp-action="GetUserPaste" class="btn my-pasts__title__btn-all" type="submit">All</a>
                            </div>

                            <div class="col-3 p-0 text-center my-pasts__title my-pasts__title_margin-r">
                                <a asp-controller="Paste" asp-action="Create" class="btn my-pasts__title__btn-create-paste" type="submit">Create</a>
                            </div>
                        </div>

                        <div class="row m-0 d-flex justify-content-center pt-3 my-pasts__body">

                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (Model.UserPasteVMs.Any())
                                {
                                    @foreach (var item in Model.UserPasteVMs)
                                    {
                                        <a asp-controller="Paste" asp-action="Details" asp-route-id="@item.Id" class="btn p-0 past-item past-item_size_big">

                                            <div class="row past-item__content mt-3">

                                                <div class="col-5 d-flex justify-content-start p-0">
                                                    <span class="past-item__content__title">@item.Title</span>
                                                </div>                                               

                                                <div class="col p-0">
                                                    <span class="pe-2 past-item__content__type-rate">@item.ContentType.TypeName</span>
                                                </div>

                                                <div class="col p-0">
                                                    <span class="pe-3 past-item__content__type-rate">@item.Likes<i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <div class="p-0 past-item past-item_size_big">
                                        <div class="past-item__content">

                                            <div class="d-flex justify-content-center">
                                                <span class="past-item__list__empty">Your list of pastes is empty.</span>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <a asp-controller="Paste" asp-action="Create" class="text-decoration-none">Create Paste!</a>
                                            </div>


                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="p-0 past-item past-item_size_big">
                                    <div class="past-item__content">

                                        <div class="d-flex justify-content-center">
                                            <span class="past-item__list__empty">Please <a asp-controller="Home" asp-action="Login" class="text-decoration-none"> login </a> to view your pastes.</span>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</form>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const filterForm = document.getElementById('filter-form');
            const filterType = document.getElementById('filter-type');
            const filterSortedBy = document.getElementById('filter-sorted-by');
            const filterCategory = document.getElementById('filter-category');
            const filterLanguage = document.getElementById('filter-language');

            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('type')) filterType.value = urlParams.get('type');
            if (urlParams.has('sortedBy')) filterSortedBy.value = urlParams.get('sortedBy');
            if (urlParams.has('category')) filterCategory.value = urlParams.get('category');
            if (urlParams.has('language')) filterLanguage.value = urlParams.get('language');

            filterType.addEventListener('change', () => filterForm.submit());
            filterSortedBy.addEventListener('change', () => filterForm.submit());
            filterCategory.addEventListener('change', () => filterForm.submit());
            filterLanguage.addEventListener('change', () => filterForm.submit());
        });
    </script>

}                                    